
/*Navbar administrador*/
#navbaradmin {
    position: absolute;
    background: rgb(98, 116, 216);
    background: linear-gradient(90deg, rgb(107, 141, 235) 0%, rgb(102, 135, 204) 45%, rgb(86, 111, 192) 100%); 
    width: 20%;
    border: 1px solid rgb(230, 230, 230) !important;
    border-radius: 20px 20px 20px 20px;
    margin-top: 90px;
  
}
#paneladministrador{
  height: 500px !important;
}

.navbar{
  color: white !important;
}

/*Juegos show*/
#titulogameshow {
    text-align: center !important;
}


#imagenjuegoshow {
  
    left: 35%;
    position: relative;
    width: 30vh;
    height: 30vh;
 
}
/*Contenedor de la votaciones*/
#contenedorVotaciones{
    position: absolute;
    top: 380px;
    left: 10px;
    width: 15%;
    border-radius: 15px 15px 15px 15px !important;
    display: flex;align-items:center;z-index: 29;
}

#formulariocrearvideojuegos,#contenedorGames{
    background-color: bisque !important;
}


#listavideojuegosh1{
    width: 320px;
    margin: auto;
    border-radius: 20px 20px 20px 20px !important;
    background: rgb(19,111,198);
    background: radial-gradient(circle, rgba(19,111,198,1) 0%, rgba(36,136,231,1) 46%, rgba(10,103,191,1) 100%);
    -webkit-text-stroke: 1px white !important;
   
}

/*Perfil usuario*/
/*Contenedor de tu perfil */
#contprincipalperfil{
    display: flex !important;
    flex-flow: row wrap !important;
}
/*Datos de tu perfil
*/
#datosperfil{
    width: 700px ;
   
    position: relative;
    margin-left: 300px;
margin-top: 30px;
height: 600px;

}
/*Imagen de perfil*/
#imagenperfil{
    width: 300px;
    position: absolute;
margin-top: 10%;

}
/*Imagen de perfil en comentarios*/
.imagencomentario{
    width: 60px;
    height: 60px;
    border-radius: 50% 50% 50% 50%  !important;
    z-index: 999 !important;
}
/*Fondo tablas*/
#votacionedit,#tablaeditusuarios,#tablashowvotacion{
    background-color: white;
}

.form-group{
    background-color: white !important;
}

.contenedorIndividual{
    width: 120%;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid black;
    min-height: 200px !important;
    margin-top: 20px;
    overflow: hidden;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
/*RESEÑAS*/
#contenedorsinelementos{
    margin-top: 20px !important;
width: 100%;
height: 300px;
border-radius: 10px;
border: 2px solid grey;
background-color: white;
align-items: center;
}
/*Imagenes de las reseñas*/
.imagenResenya img{
    width: 350px !important;
    padding: 10px;
}
.imagenResenya{
    width: 38%;
    
   position: relative;
}
/*Contenido (texto) de las reseñas*/
.contenidoResenya{
    width: 60%;
    position: relative;
   padding: 10px !important;
}
/*Si hay texto e imagen en las reseñas*/
.contenidoeimagen{
    display: flex;
    flex-flow: row;

}

/*Texto reseñas*/
.contenidoResenya p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    overflow-wrap:break-word !important;
}


/**********GENERICOS***************************************************/
.tituloprincipal{
    -webkit-text-stroke: 1px white !important;
    background-color: #0e8ed8;
}
/**********TABLA VOTACIONES****************************************/
#tablavotaciones{
background-color: #FFF2CE;
}
/*FONT FACES*/
@font-face{
    font-family: 'Cincel regular';
    src: url('fuentes/Cincel-Regular.ttf');
}
@font-face{
  font-family: 'josefin semibold';
  src: url('fuentes/JosefinSans-SemiBold.ttf');
}
@font-face{
    font-family: 'Ybedeau';
    src: url('fuentes/Ybedeau-Italic.ttf');

}
/*Reseñas*/
/*Titulo reseñas*/
.titulojuegosyreseñas{
    font-family: 'Ybedeau-Italic' !important;
}
.tituloresenyas{
font-family: 'Cincel-Regular';
text-decoration: underline;
font-size: 24px;
}
/*Juegos*/
/*Contenedor individual juegos*/
.contenedorGameIndividual{
    display: flex;
    flex-flow: row wrap;
    border-radius: 20px 20px 20px 20px;
    height: 92px;
    border: 1px solid rgb(235, 235, 235);
    margin-top: 15px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}


/*Estos contenidos estan en el contenedorGameIndividual*/
.contenedorGameIndividualNombre{
width: 25%;
padding: 30px !important;
}
.contenedorGameIndividualAnyoLanzamiento{
width: 10%;
padding: 30px !important;
}
.contenedorGameIndividualGeneros{
    width: 30%;
   
    height: 92px;
    
}
.contenedorGameIndividualGeneros p{
    text-overflow: ellipsis ;
}
.contenedorGameIndividualImagen{
    width: 35%;
    padding-left: 10px;
    height: 100%;
}
.contenedorGameIndividualImagen img{
   
    padding-left: 0 !important;

}
/*******/

#contenedorGames{
    display: none !important;
}

#contenedorGamesColeccion{
    background-color: bisque !important;
    border-radius: 15px 15px 15px 15px !important;
}
form{
    display: inline;
}
/*Footer*/
#footer{
    position: relative ;
    width: 100% ;
    bottom: 0 ;
}

.textoajustado{
    width:100% !important;
    overflow-wrap:break-word !important;
}

.elipsis{
    text-overflow: ellipsis;
}

/*Contenedor comentario*/

  .contenedorcomentarios{
    background-color: rgb(207, 207, 207); border-radius: 10px 10px 10px 10px !important; border:2px solid rgb(241, 234, 234)
  }

 
  .bordesredondeados{
    border-radius: 20px 20px 20px 20px !important;
  }
  #color-change-5x {
	-webkit-animation: color-change-5x 14s linear infinite alternate both;
	        animation: color-change-5x 14s linear infinite alternate both;
}
.botonloginregister{
    width: 150px !important;
}



