/*Navbar administrador*/
#navbaradmin {
    position: absolute;
    background: rgb(209,164,242);
    background: linear-gradient(90deg, rgba(209,164,242,1) 0%, rgba(217,181,244,1) 45%, rgba(209,164,242,1) 100%); 
    width: 20%;
    border: 1px solid black !important;
    border-radius: 20px 20px 20px 20px;
    margin-top: 90px;
    -webkit-text-stroke: 1px rgb(128, 82, 161) !important;
}
#paneladministrador{
  height: 500px !important;
}

.navbar{
  color: white !important;
}

/*Juegos show*/
#titulogameshow {
    text-align: center !important;
}


#imagenjuegoshow {
  
    left: 35%;
    position: relative;
    width: 30vh;
    height: 30vh;
 
}

#contenedorVotaciones{
    position: absolute;
    top: 200px;
    width: 500px;
    border-radius: 15px 15px 15px 15px !important;
}

#formulariocrearvideojuegos,#contenedorGames{
    background-color: bisque !important;
}


#listavideojuegosh1{
    width: 320px;
    margin: auto;
    border-radius: 20px 20px 20px 20px !important;
    background: rgb(19,111,198);
    background: radial-gradient(circle, rgba(19,111,198,1) 0%, rgba(36,136,231,1) 46%, rgba(10,103,191,1) 100%);
    -webkit-text-stroke: 1px white !important;
   
}

/*Perfil usuario*/
#contprincipalperfil{
    display: flex !important;
    flex-flow: row wrap !important;
}
#datosperfil{
    width: 700px ;
   
    position: relative;
    margin-left: 300px;
margin-top: 30px;
height: 600px;
box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
/*Imagen de perfil*/
#imagenperfil{
    width: 300px;
    position: absolute;
margin-top: 10%;

}
/*Imagen de perfil en comentarios*/
.imagencomentario{
    width: 60px;
    height: 60px;
    border-radius: 50% 50% 50% 50%  !important;
    z-index: 999 !important;
}
/*Fondo tablas*/
#votacionedit,#tablaeditusuarios,#tablashowvotacion{
    background-color: white;
}

.form-group{
    background-color: white !important;
}

.contenedorIndividual{
    width: 120%;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid black;
    min-height: 200px !important;
    margin-top: 20px;
    overflow: hidden;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

/*Imagenes de las reseñas*/
.imagenResenya{
    width: 40%;
   position: relative;
}
/*Contenido (texto) de las reseñas*/
.contenidoResenya{
    width: 100%;
    position: relative;
   padding: 2px;
}
/*Si hay texto e imagen en las reseñas*/
.contenidoeimagen{
    display: flex;
    flex-flow: row;

}

/*Texto reseñas*/
.contenidoResenya p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    overflow-wrap:break-word !important;
}


/**********GENERICOS***************************************************/
.tituloprincipal{
    -webkit-text-stroke: 1px white !important;
    background-color: #0e8ed8;
}
/**********TABLA VOTACIONES****************************************/
#tablavotaciones{
background-color: #FFF2CE;
}

@font-face{
    font-family: 'Cincel regular';
    src: url('fuentes/Cincel-Regular.ttf');
}
@font-face{
  font-family: 'josefin semibold';
  src: url('fuentes/JosefinSans-SemiBold.ttf');
}



.tituloresenyas{
font-family: 'Cincel-Regular';
text-decoration: underline;
font-size: 24px;
}

.contenedorGameIndividual{
    display: flex;
    flex-flow: row wrap;
    border-radius: 20px 20px 20px 20px;
    height: 92px;
    border: 1px solid rgb(235, 235, 235);
    margin-top: 15px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}



.contenedorGameIndividualNombre{
width: 20%;
padding: 30px !important;
}
.contenedorGameIndividualAnyoLanzamiento{
width: 15%;
padding: 30px !important;
}
.contenedorGameIndividualGeneros{
    width: 30%;
   
    height: 92px;
    
}
.contenedorGameIndividualGeneros p{
    text-overflow: ellipsis ;
}
.contenedorGameIndividualImagen{
    width: 35%;
    padding-left: 10px;
    height: 100%;
}
.contenedorGameIndividualImagen img{
   
    padding-left: 0 !important;

}
form{
    display: inline;
}

#footer{
    position: relative !important;
    width: 100% !important;
    bottom: 0 !important;
}

#contenedorGames{
    display: none !important;
}

#contenedorGamesColeccion{
    background-color: bisque !important;
    border-radius: 15px 15px 15px 15px !important;
}
.textoajustado{
    width:100% !important;
    overflow-wrap:break-word !important;
}

.elipsis{
    text-overflow: ellipsis;
}



  .contenedorcomentarios{
    background-color: rgb(207, 207, 207); border-radius: 10px 10px 10px 10px !important; border:2px solid rgb(241, 234, 234)
  }

  /********LOGIN*****************************/
 
  .bordesredondeados{
    border-radius: 20px 20px 20px 20px !important;
  }
  #color-change-5x {
	-webkit-animation: color-change-5x 14s linear infinite alternate both;
	        animation: color-change-5x 14s linear infinite alternate both;
}



